
html {
  position: relative;
  min-height: 100%;
}

body {
   padding-top: 80px;
}
.container {
    padding: 3rem 1.5rem;
    max-width: 900px;
}
.navbar {
  background-color: #232f3e !important;
}

.navbar-brand {
  color: #e9903a !important;
}

.header-logo {
  padding: 0.2rem;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 34px;
  line-height: 34px;
  background-color: #f5f5f5;
}

h2 {
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
